# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
*resharper.user
*.DotSettings
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
[Hh]elp/
*.suo
*.sln.cache
_ReSharper.*/
*.user
# mstest test results
TestResults
