@{
    ViewBag.Title = "Index";
}

<h2>TroubleShooting</h2>
<ul>
    <li> @Html.ActionLink("Fiddler demo", "FiddlerDemo") </li>
    <li> <a href="@Url.Content("~/Longrunning.aspx")">Long running</a></li>
</ul>
